In [1]:
import pandas as pd
import os
from collections import Counter
import numpy as np

In [2]:
[i for i in os.listdir('../make_dictionary_process/') if 'csv' in i]

['new_tuned_references.csv',
 'stricted_filtered_final_df.csv',
 'Asia_pacific_journal_of_financial_studies.csv',
 'journal_name_ls.csv',
 'tuned_dataframe.csv',
 'naived_filtered_final_df.csv',
 'extended_references.csv',
 'references.csv',
 '재무연구.csv',
 'tuned_dataframe_infor.csv',
 'deliver_paper_refer.csv',
 '한국증권학회지.csv',
 'tuned_dataframe_refer.csv',
 '재무관리연구.csv',
 '선물연구.csv']

In [5]:
df = pd.read_csv('../make_dictionary_process/stricted_filtered_final_df.csv')

In [7]:
refer_col = [i for i in df.columns if 'refer' in i]

In [10]:
df = df.loc[:,refer_col]
df.tail()

,char_refer,degree_refer,journal_refer,name_refer,paper_refer,school_refer,year_refer
29246,[기타자료],NaN,"Working paper,","Hwang, L","Korean evidence on the implied cost of equity,",NaN,2007.0
29247,[기타자료],NaN,"Working paper,","Jorgensen, B",The valuation accuracy of equity value estimat...,NaN,2007.0
29248,[기타자료],NaN,"Working Papers),","Cummins, J. D",An Asian option approach to the valuation of i...,NaN,1993.0
29249,[기타자료],NaN,"Board of Governors of the Federal Reserve System,","Campbell, Sean D",A Review of Backtesting and Backtesting Proced...,NaN,2005.0
29250,[기타자료],NaN,"Working Paper,","Lee, Jung-Hee",Market Reactions to Business Group Analysts’ I...,NaN,2007.0

In [28]:
dict_ = Counter(paper_name_ls)
df = pd.DataFrame(index=range(len(dict_.keys())))
df.index = dict_.keys()
df['count'] = dict_.values()

In [31]:
freq_df=  df.sort_values('count',ascending=False)
freq_df.head(20)

                count
 Fama, E. F.      207
 고봉찬              151
 고광수              126
 Fama, E. F       117
 권택호               98
 Black, F.         96
 강장구               87
 최혁                85
 김석진               79
 이원흠               79
 Fama, E.          78
 장국현               77
 박경서               69
 Jensen, M. C.     66
 Fama, E           64
 Grinblatt, M.     63
 김태혁               63
 김솔                63
 Amihud, Y.        61
 Ang, A.           61

In [6]:
def get_jaccard_sim(str1, str2): 
    a = set(str1.split()) 
    b = set(str2.split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

In [7]:
testing_str1 = 'hello world i am kim hyun sik'
testing_str2 = 'hello world'

get_jaccard_sim(testing_str1,testing_str2)

0.2857142857142857